{{- $hostType := "host" -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $hwModel := output "sysctl" "-n" "hw.model" | trim -}}
{{-   if hasPrefix "VirtualMac" $hwModel -}}
{{-     $hostType = "guest" -}}
{{-   end -}}
{{- else if eq .chezmoi.os "linux" -}}
{{-   $hostType = "guest" -}}
{{- end -}}

[data]
    host_type = {{ $hostType | quote }}
